In [92]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [93]:
df = pd.read_csv(r'data/Ad_table.csv')
df.head()

,Maker,Genmodel,Genmodel_ID,Adv_ID,Adv_year,Adv_month,Color,Reg_year,Bodytype,Runned_Miles,Engin_size,Gearbox,Fuel_type,Price,Seat_num,Door_num
0,Bentley,Arnage,10_1,10_1$$1,2018,4,Silver,2000.0,Saloon,60000,6.8L,Automatic,Petrol,21500,5.0,4.0
1,Bentley,Arnage,10_1,10_1$$2,2018,6,Grey,2002.0,Saloon,44000,6.8L,Automatic,Petrol,28750,5.0,4.0
2,Bentley,Arnage,10_1,10_1$$3,2017,11,Blue,2002.0,Saloon,55000,6.8L,Automatic,Petrol,29999,5.0,4.0
3,Bentley,Arnage,10_1,10_1$$4,2018,4,Green,2003.0,Saloon,14000,6.8L,Automatic,Petrol,34948,5.0,4.0
4,Bentley,Arnage,10_1,10_1$$5,2017,11,Grey,2003.0,Saloon,61652,6.8L,Automatic,Petrol,26555,5.0,4.0

In [94]:
df.tail()

,Maker,Genmodel,Genmodel_ID,Adv_ID,Adv_year,Adv_month,Color,Reg_year,Bodytype,Runned_Miles,Engin_size,Gearbox,Fuel_type,Price,Seat_num,Door_num
268250,Westfield,Sport,97_1,97_1$$1,2018,5,Yellow,2006.0,Convertible,1800,2.2L,Manual,Petrol,8750,2.0,NaN
268251,Westfield,Sport,97_1,97_1$$2,2018,5,Yellow,2006.0,Convertible,2009,NaN,Manual,NaN,7995,NaN,NaN
268252,Zenos,E10,99_1,99_1$$1,2018,3,Red,2016.0,Convertible,6,2.0L,Manual,Petrol,27950,2.0,NaN
268253,Zenos,E10,99_1,99_1$$2,2018,3,Green,2016.0,Convertible,1538,2.0L,Manual,Petrol,34950,2.0,NaN
268254,Zenos,E10,99_1,99_1$$3,2018,5,Grey,2016.0,Convertible,500,2.3L,Manual,Petrol,29995,2.0,NaN

## Data type standarization

In [95]:
df['Runned_Miles'] = df['Runned_Miles'].str.replace('1 mile', '1').astype(float)

In [104]:
df['Engine_size'] = df['Engine_size'].str.replace('L', '').astype(float)

## Standarize column names

In [96]:
df['Engine_size'] = df['Engin_size']

In [97]:
df['Price'] = df['Price']

In [98]:
df['Prod_year'] = df['Reg_year']

In [99]:
df['Model'] = df['Genmodel']

In [100]:
df['Body_type'] = df['Bodytype']

In [101]:
df['Runned_miles'] = df['Runned_Miles']

In [102]:
df.drop(columns=['Engin_size', 'Genmodel_ID', 'Adv_ID', 'Reg_year', 'Genmodel', 'Bodytype', 'Runned_Miles'], inplace=True)

## Handle missing values

In [103]:
df = df[df['Price'] != 'Uknown']
df['Price'] = df['Price'].astype(int)

In [105]:
df.head()

,Maker,Adv_year,Adv_month,Color,Gearbox,Fuel_type,Price,Seat_num,Door_num,Engine_size,Prod_year,Model,Body_type,Runned_miles
0,Bentley,2018,4,Silver,Automatic,Petrol,21500,5.0,4.0,6.8,2000.0,Arnage,Saloon,60000.0
1,Bentley,2018,6,Grey,Automatic,Petrol,28750,5.0,4.0,6.8,2002.0,Arnage,Saloon,44000.0
2,Bentley,2017,11,Blue,Automatic,Petrol,29999,5.0,4.0,6.8,2002.0,Arnage,Saloon,55000.0
3,Bentley,2018,4,Green,Automatic,Petrol,34948,5.0,4.0,6.8,2003.0,Arnage,Saloon,14000.0
4,Bentley,2017,11,Grey,Automatic,Petrol,26555,5.0,4.0,6.8,2003.0,Arnage,Saloon,61652.0

## Handle duplicates

In [106]:
df.drop_duplicates(subset=['Maker', 'Color', 'Runned_miles', 'Gearbox', 
                           'Fuel_type', 'Price', 'Seat_num', 'Door_num', 
                           'Engine_size', 'Prod_year', 'Model', 'Body_type'], keep=False, inplace=True)

In [107]:
df.duplicated().sum()

np.int64(0)

## Save

In [108]:
df.head()

,Maker,Adv_year,Adv_month,Color,Gearbox,Fuel_type,Price,Seat_num,Door_num,Engine_size,Prod_year,Model,Body_type,Runned_miles
0,Bentley,2018,4,Silver,Automatic,Petrol,21500,5.0,4.0,6.8,2000.0,Arnage,Saloon,60000.0
1,Bentley,2018,6,Grey,Automatic,Petrol,28750,5.0,4.0,6.8,2002.0,Arnage,Saloon,44000.0
2,Bentley,2017,11,Blue,Automatic,Petrol,29999,5.0,4.0,6.8,2002.0,Arnage,Saloon,55000.0
3,Bentley,2018,4,Green,Automatic,Petrol,34948,5.0,4.0,6.8,2003.0,Arnage,Saloon,14000.0
4,Bentley,2017,11,Grey,Automatic,Petrol,26555,5.0,4.0,6.8,2003.0,Arnage,Saloon,61652.0

In [109]:
df.to_csv(r'data/processed/cleaned_data.csv', index=False)